<mat-toolbar class="bg-none">
  Change Password
  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close
    dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<form mat-dialog-content [formGroup]="formGroup">
  <!--Old Password Field-->
  <mat-form-field appearance="outline">
    <mat-label>Old Password</mat-label>
    <input matInput type="password" placeholder="Enter password"
      formControlName="oldPassword">
    <mat-error>
      Old Password is required.
    </mat-error>
    <mat-icon matSuffix>lock_open</mat-icon>
  </mat-form-field>

  <!--Password Field-->
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Enter password"
      formControlName="password">
    <mat-error>
      Must contain at least one number and one
      uppercase and lowercase letter, and at least 8 or more characters.
    </mat-error>
    <mat-icon matSuffix>lock_open</mat-icon>
  </mat-form-field>

  <!--Confirm Password Field-->
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" placeholder="Enter confirm password"
      formControlName="confirmPassword">
    <mat-error>
      Confirm Password is required. Or must match to password
    </mat-error>
    <mat-icon matSuffix>lock_open</mat-icon>
  </mat-form-field>

  <!--Submit-->
  <div style="text-align: right;">
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid"
      (click)="submit()">
      <mat-icon>build</mat-icon> Change
    </button>
  </div>
</form>