<mat-toolbar class="bg-none">
    Food Inventory
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="primary"
        (click)="export()">
        Export Report</button>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef class="headers"> No. </th>
        <td class="headers" mat-cell *matCellDef="let i=index"> {{i+1}}
        </td>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let element"> {{element.typeOfFood}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="receipentName">
        <th mat-header-cell *matHeaderCellDef> Receipent </th>
        <td mat-cell *matCellDef="let element" style="color: green;">
            {{element.receipentName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="typeOfDonation">
        <th mat-header-cell *matHeaderCellDef> Donation Type </th>
        <td mat-cell *matCellDef="let element"> {{element.typeOfDonation}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="donorName">
        <th mat-header-cell *matHeaderCellDef> Donor </th>
        <td mat-cell *matCellDef="let element" style="color: red;">
            {{element.donorName}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef> Expiration Date </th>
        <td mat-cell *matCellDef="let element">
            {{_utilityService.getFormatedDate(element.expirationDate)}}
        </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="distributionDate">
        <th mat-header-cell *matHeaderCellDef> Distribution Date </th>
        <td mat-cell *matCellDef="let element">
            {{_utilityService.getFormatedDate(element.distributionDate)}}
        </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="dietaryRestrictions">
        <th mat-header-cell *matHeaderCellDef> Dietary Restrictions </th>
        <td mat-cell *matCellDef="let element"> {{element.dietaryRestrictions}}
        </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list>
                <mat-chip selected
                    [color]="_donationService.getStatusColor(element.status)">
                    {{_donationService.getStatus(element.status)}}
                </mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="schedulingDateTime">
        <th mat-header-cell *matHeaderCellDef> Scheduling Date Time </th>
        <td mat-cell *matCellDef="let element">
            {{_utilityService.getFormatedDateTime(element.schedulingTimeDate)}}
        </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button *ngIf="(sessionUser.role === 1 ||
                    sessionUser.role === 2 || sessionUser.role === 3 ||
                    sessionUser.role === 4) && element.status !== 2"
                    mat-menu-item
                    [routerLink]="'/admin/food/edit/' +
                    element.id">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="addRating(element.id)"
                    *ngIf="(sessionUser.role === 5 ||
                    sessionUser.role === 6) && (!element.rating &&
                    !element.feedback) && element.status === 3">
                    <mat-icon>add_circle</mat-icon>
                    <span>Add Rating & Feedback</span>
                </button>
                <button mat-menu-item
                    (click)="viewRatingAndFeedback(element)"
                    *ngIf="element.rating ||
                    element.feedback">
                    <mat-icon>visibility</mat-icon>
                    <span>{{element.rating ||
                        element.feedback ? 'View Rating & Feedback' : 'No
                        Rating && Feedback'}}</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="foodRequest">
        <th mat-header-cell *matHeaderCellDef> Request </th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="element.status === 1 && (sessionUser.role === 5 ||
            sessionUser.role === 6)" mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                {{element.status === 1 ? 'Pending' : element.status === 2 ||
                element.status === 3 ? 'Accepted' : 'Pending'}}
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button *ngIf="element.status === 1"
                    mat-menu-item
                    (click)="accept(element.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Accept</span>
                </button>
                <button *ngIf="element.status === 1"
                    mat-menu-item
                    (click)="reject(element.id)">
                    <mat-icon>edit</mat-icon>
                    <span>Reject</span>
                </button>
            </mat-menu>
            <ng-container *ngIf="element.status != 0 && element.status !== 1">Accepted</ng-container>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>