<mat-toolbar class="bg-none">
  Profile
  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close
    dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<!-- <div>
  <p><b>Name : </b>{{dataResponse.fullName}}</p>
  <p><b>Email : </b>{{dataResponse.email}}</p>
  <p><b>Mobile Number : </b>{{dataResponse.mobileNumber}}</p>
  <p><b>Address : </b>{{dataResponse.address}}</p>
  <p><b>Role : </b>{{_utilityService.getUserRole(dataResponse.role)}}</p>
</div> -->

<form [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Enter name"
      formControlName="fullName">
    <mat-error>Name is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Enter email"
      formControlName="email">
    <mat-error>Email is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input type="number" matInput placeholder="Enter mobile number"
      formControlName="mobileNumber">
    <mat-error>Mobile Number is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input type="text" matInput placeholder="Enter address"
      formControlName="address">
    <mat-error>Address is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="sessionUser.role !== 0">
    <mat-label>Role</mat-label>
    <mat-select placeholder="Choose Role" formControlName="role"
      (selectionChange)="onSelectionChangeRole($event.value)">
      <mat-option *ngFor="let element of _constantService.USER_ROLES"
        [value]="element.key">{{element.value}}</mat-option>
    </mat-select>
    <mat-error>Type is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" id="res-id-edit">
    <mat-label>Dietary Restrictions</mat-label>
    <mat-select placeholder="Choose dietary restrictions"
      formControlName="dietaryRestrictions"
      [required]="formGroup.controls['role'].value === 5 ||
      formGroup.controls['role'].value === 6">
      <mat-option value="veg">Veg</mat-option>
      <mat-option value="nonveg">nonveg</mat-option>
      <mat-option value="veg,nonveg">Both</mat-option>
    </mat-select>
    <mat-error>Type is required</mat-error>
  </mat-form-field>
</form>
<div class="text-center" *ngIf="sessionUser.role !== 0">
  <button mat-raised-button color="primary" [disabled]="formGroup.invalid"
    (click)="submit()"><mat-icon>send</mat-icon>
    Submit</button>
</div>