<mat-toolbar class="bg-none">
    <div>
        <span class="breadcrumb-heading">Dashboard</span>
    </div>
</mat-toolbar>

<div class="bootstrap snippet">
    <div class="row">
        <div class="col-lg-3 col-sm-6" *ngIf="sessionUser.role === 0">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa
                            fa-users fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded"> Total
                        University</div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfUniversityMember}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6" *ngIf="sessionUser.role === 0">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa fa-users
                            fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded"> Total
                        Restaurant
                    </div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfRestaurantMember}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6" *ngIf="sessionUser.role === 0">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa fa-users
                            fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded"> Total
                        Indivisual
                    </div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfIndividualMember}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6" *ngIf="sessionUser.role === 0">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa fa-users
                            fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded">
                        Total NGO
                    </div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfNGO}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" *ngIf="sessionUser.role === 0">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa fa-users
                            fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded">
                        Total Receipent Indivisual
                    </div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfRecipientIndividualMember}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" *ngIf="sessionUser.role === 0">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa fa-users
                            fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded">
                        Total Receipent Organization
                    </div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfRecipientOrganizationMember}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6" *ngIf="sessionUser.role === 1 ||
            sessionUser.role === 2 || sessionUser.role === 3 || sessionUser.role
            === 4 || sessionUser.role === 5 || sessionUser.role === 6">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa fa-users
                            fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded">
                        Total Donation
                    </div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfDonateFood}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6" *ngIf="sessionUser.role === 1 ||
            sessionUser.role === 2 || sessionUser.role === 3 || sessionUser.role
            === 4 || sessionUser.role === 5 || sessionUser.role === 6">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa fa-users
                            fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded">
                        Total Inprogress Donation
                    </div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfFoodPending}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6" *ngIf="sessionUser.role === 1 ||
            sessionUser.role === 2 || sessionUser.role === 3 || sessionUser.role
            === 4 || sessionUser.role === 5 || sessionUser.role === 6">
            <div class="circle-tile ">
                <a>
                    <div class="circle-tile-heading blue"><i class="fa fa-users
                            fa-fw fa-3x"></i></div>
                </a>
                <div class="circle-tile-content blue">
                    <div class="circle-tile-description text-faded">
                        Total Distributed Donation
                    </div>
                    <div class="circle-tile-number text-faded ">{{dataResponse?.totalCountOfFoodInProgress}}</div>
                    <!-- <a class="circle-tile-footer" href="#">More Info<i class="fa
                            fa-chevron-circle-right"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>
