<header>
    <div id="hav-belt">
        <div class="nav-left">
            <div id="nav-logo">
                <a [routerLink]="'/'" class="nav-logo-link"></a>
            </div>
        </div>
        <div class="nav-right">
            <div id="nav-holiday">
                <a href="#"></a>
            </div>
        </div>
    </div>
    <nav id="nav-main">
        <div class="nav-right">
            <a class="nav-a" href="#">
                <span>EN</span>
                <i class="fa fa-globe" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>

            <a class="nav-a" href="#">
                <span>Hello. Sign In</span>Accounts &amp; Lists
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <a class="nav-a" href="#">Orders</a>
            <a class="nav-a" href="#">Try Prime
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <a class="nav-a cart" href="#">
                <span>0</span>Cart
            </a>
        </div>
    </nav>
</header>