<span style="font-size: 15px;">Welcome, {{sessionUser?.name}}</span> &nbsp;
&nbsp;
<button mat-icon-button [matMenuTriggerFor]="beforeMenu">
    <app-show-image [image]="" classes="user-img
        img-circle" type="user" width="30px"
        height="30px">
    </app-show-image>
</button>

<mat-menu #beforeMenu="matMenu" xPosition="before">
    <!-- <button mat-menu-item [routerLink]="'/admin/profile'">
        <mat-icon>account_box</mat-icon> Profile
    </button> -->
    <!-- <button mat-menu-item (click)="changePassword()">
        <mat-icon>vpn_key</mat-icon> Change Password
    </button>
    <mat-divider></mat-divider> -->
    <button mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon> Logout
    </button>
</mat-menu>